// var(--color-primary);: #003396;
// var(--color-primary-light): #88D1F1;
// var(--color-primary);: #003396;

// $color-secondary: #003396;
// var(--color-primary-light): #88D1F1;

// var(--color-pink):#E43F6F;
// var(--color-yellow): #F4E36F;
// $color-gray: #707070;
// $color-gray-light: #A0A0A0;
// $color-gray-lighter : #EEF1EF;
// white: #fff;
// black: #000;


// var(--red) :#E43F6F;
// var(--green) :#90C73D;
// var(--blue) :blue;
// var(--yellow) :yellow;
// var(--orange) :#E9BA20;
// var(--black) :black;

$default-size: 1em;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 2;