.mobile-bottom-menu{
    display: none;
    height: 10vh;
    width: 100%;
    background-color: var(--color-primary);
    position: fixed;
    top: 100%;
    z-index: 99999;
    transform: translateY(-100%);

    @include respond(phone){
        display: flex;
    }

    a{
        text-decoration: none;
    }

    &__icon{
        font-size: 4rem;
        color: white;

        @include respond(iphone){
            font-size: 4rem;
        }
    }

    &__home-icon{
        font-size: 4rem;
        // border: 2px solid white;
        color: white;
        // top: -150%;
        position: relative;
        top: -3px;
        background-color: rgba($color: white, $alpha: .3);
        padding: 3.5rem 3.2rem;
        border-radius: 100%;
    }

    &__span{
        font-size: 2.2rem;
        color: #fff;
        margin-top: 1rem;

        @include respond(iphone){
            font-size: 2rem;
        }
    }

    &__photo{
        position: relative;
        height: 17rem;
        top: -18%;
        // left: 50%;
        transform: translateY( -18%);

        @include respond(phone-small){            
            height: 17rem;  
        }

        @include respond(iphone){
            height: 15rem;
        }
    }
}