.visit{
    width: 100%;    
    height: 70rem;
    background-color: #B4D3D1;
    position: relative;
    border-radius: 2rem;
    margin-bottom: 5rem;

    &__container{
        width: 96%;
        height: 94%;
        background-color: #fff;
        border-radius: 2rem;
        box-shadow: 0 0 6px var(--color-gray-light);
        @include centerABS();
        overflow-y: scroll;
                
        &::-webkit-scrollbar {
            width: 1rem;
        }
        
        &::-webkit-scrollbar-thumb {
            color: none;
        }
        
    }

    &__header{
        width: 90%;
        font-size: 1.5rem;
        text-align: center;
        padding: 2rem;
        color: var(--color-gray);
        border-bottom: 2px solid var(--color-gray-light);

        @include respond(phone-port){font-size: 2.3rem;}

        @include respond(phone){font-size: 2.8rem;}
    }

    &__main{
        width: 90%;
        // height: 45rem;
        margin: 3rem 0;
        padding: 0 3.5rem;

        @include respond(phone-port){margin-bottom: 5rem;}

        @include respond(phone){
            flex-direction: column;
            // height: 65rem;
        }
    }

    &__search-box{
        position: relative;
    }

    &__search{
        // width: 30rem;
        height: 4rem;
        border-radius: 1rem;
        background-color: white;
        box-shadow: 0 1px 5px var(--color-gray-light);
        padding: 0 !important;

        @include respond(phone-port){
            height: 8rem;

            i{font-size: 3rem !important;}
        }

        @include respond(phone){
            width: 50rem;
            height: 8rem;

            i{
                font-size: 4rem !important;
            }
        }


        input{
            height: 3rem;
            width: 100% !important;
            border: none;
            outline: none;
            text-align: right;
            direction: rtl;
            font-size: 1.6rem;

            @include respond(phone-port){font-size: 2rem !important;}

            @include respond(phone){
                // height: 100%;
                font-size: 2.4rem !important;
            }

            &::placeholder{
                color: var(--color-gray-light);
            }
        }

        i{
            font-size: 2rem;
            color: var(--color-primary);
            margin: 1rem;
        }
    }

    &__option{
        // width: 30rem;
        border-radius: 1rem;
        box-shadow: 1px 1px 5px var(--color-gray-light);
        background-color: white;
        overflow-y: scroll;
        // position: absolute;
        // top: 35%;
        transition: all .6s ease;
        z-index: 99;
        padding: 0 !important;
        // height: 30rem;
    
        &::-webkit-scrollbar-track{
            border-radius: 10px;
            position: absolute;
        }
    
        &::-webkit-scrollbar{
            width: 6px;
        }
    
        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: #cccccc;
        }
    }

    &__option-list{
        list-style-type: none;
        text-align: right;
        height: 30rem;

        @include respond(phone-port){height: 40rem;}

        @include respond(phone){
            height: 45rem;
        }


        li{
            // margin: 6px;
            width: 100%;
            padding: 0 1.5rem;
            height: 5rem;
            transition: all .3s;
            font-size: 1.4rem;
            color: var(--color-gray);
            background-color: white;
            text-align: right !important;
            cursor: pointer;

            &:not(:last-of-type){
                border-bottom: 1px solid var(--color-primary-light);
            }

            @include respond(phone-port){
                font-size: 2rem;
                height: 10rem;
            }

            @include respond(phone){
                font-size: 2.5rem;
                height: 12rem;
            }


            &:hover{
                background-color: var(--color-primary);
                box-shadow: 1px 1px 5px var(--color-gray-light);
                color: white;
                font-size: 1.6rem;

                @include respond(phone-port){font-size: 2rem;}

                @include respond(phone){ font-size: 2.4rem;}
            }
        }
    }

    &__item-selected{
        font-size: 1.8rem;
        color: var(--color-primary);
        margin: 1.5rem 1rem;
        cursor: pointer;

        @include respond(phone-port){
            font-size: 2.5rem;
            line-height: 6rem;
            i{
                font-size: 3.2rem !important;
            }
        }

        @include respond(phone){
            font-size: 3rem;
            line-height: 5.5rem;
        }
        
        i{
            font-size: 2.2rem;
            margin-left: 1rem;
        }
    }

    &__circle{
        width:  12rem;
        height: 12rem;
        margin-right: 1rem;
        margin-top: 5rem;
        border-radius: 100%;
        background-color: white;
        box-shadow: 0 1px 5px var(--color-gray-light);

        @include respond(phone-port){
            height: 15rem;
            width:  15rem;

            a{font-size: 2rem !important;}
            i{font-size: 4rem !important;}
        }

        @include respond(phone){
            width: 17rem;
            height:17rem;

            a{font-size: 2.2rem !important;}
            i{font-size: 4.5rem !important;}
        }

        
        a,
        a:link,
        a:visited{
            text-decoration: none;
            font-size: 1.6rem;
            color: var(--color-gray);
        }
        
        i{
            font-size: 3rem;
            color: var(--color-primary);
            margin-bottom: 8px;
        }
    }

    &_buttons{
        width: 80%;
        margin-top: 8rem;

        button{
            width: 14rem;
            height: 5rem;
            border-radius: 3rem;
            border: none;
            font-size: 1.5rem;

            @include respond(phone-port){
                width: 18rem;
                height: 6rem;
                font-size: 2rem;
            }

            @include respond(phone){
                width: 18rem;
                height: 6.5rem;
                font-size: 2.5rem;
            }
        }
    }

    &__nxt-btn{
        background-color: var(--color-primary-light);
        box-shadow: 1px 2px 5px var(--color-primary-light);

        i{
            font-size: 2.5rem;
            margin-right: 1rem;
        }

        a,a:link,a:visited{color: white !important; width: 100% !important;}
    }

    &__prev-btn{
        background-color: var(--color-gray-lighter);        
        box-shadow: 1px 2px 5px var(--color-gray-light);

        i{
            font-size: 2.5rem;
            margin-left: 1rem;
        }

        a,a:link,a:visited{color: var(--color-gray) !important; width: 100% !important;}
    }

    &__img{
        color: var(--color-primary);
        height: 20rem;
        width: 20rem;

        @include respond(phone-port){
            height: 25rem;
            width: 25rem;
            margin-top: 5rem;
        }
    }

    &__counter{
        margin: 4rem 0;

        button{            
            height: 5rem;
            width: 6rem;
            border-radius: 1rem;
            box-shadow: 0 0 5px var(--color-gray);
            border: none;
            outline: none;
            background-color: white;
            vertical-align: top;
            font-size: 2.2rem;
            text-align: center; 
            margin: 0 -5px;
            transition: all .2s ease;

            &:hover{color: var(--color-primary); font-size: 2.5rem;}

            @include respond(phone){
                height: 6.5rem;
                width: 8rem;
                font-size: 3rem;
                margin: -2px 0;

                &:hover{font-size: 3.5rem;}
            }
        }

        span{
            box-shadow: 0 0 5px var(--color-gray);
            height: 6rem;
            border-radius: 1.2rem;
            background-color: white;
            position: relative;
            z-index: 999;
            font-size: 2.8rem;
            width: 15rem;

            @include respond(phone){
                height: 9rem;
                width: 22rem;
                font-size: 3.2rem;
            }
        }
    }

}

.radialProgressBar {
    border-radius: 50%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
    width: 9rem;
    height: 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ddd;
    // margin: 20px;
    // float:left;
    @include centerABS();

    @include respond(phone-port){
        height: 10.5rem;
        width: 10.5rem;
    }

    @include respond(phone){
        height: 12rem;
        width: 12rem;
    }
}
.radialProgressBar .overlay {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin: auto;
    background: #fff;
    text-align: center;
    padding-top: 27%;
    font-size: 1.8rem;

    @include respond(phone-port){
        height: 8.5rem;
        width: 8.5rem;
        font-size: 2rem;
        padding-top: 29%;
    }

    @include respond(phone){
        height: 10rem;
        width: 10rem;
        font-size: 2.5rem;
        padding-top: 30%;
    }
}  
.progress-25 {
    background-image: -webkit-linear-gradient(72deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, var(--color-primary-light) 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%), linear-gradient(180deg, var(--color-primary-light) 50%, #ddd 50%);
}  
.progress-50 {
    background-image: -webkit-linear-gradient(right, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, var(--color-yellow) 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%), linear-gradient(-90deg, var(--color-yellow) 50%, #ddd 50%);
}  
.progress-75 {
    background-image: -webkit-linear-gradient(right, var(--color-pink) 50%, transparent 50%), -webkit-linear-gradient(108deg, var(--color-pink) 50%, #ddd 50%);
    background-image: linear-gradient(0deg, var(--color-pink) 50%, transparent 50%), linear-gradient(-90deg, var(--color-pink) 50%, #ddd 50%);
}



.form__instruction {
	font-size: 22px;
}
.form__answer {
    label {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        height: 5rem;
        border-radius: 1.2rem;
        box-shadow: 0 0 5px var(--color-gray);
        margin: 20px 1% 20px 0;
        vertical-align: top;
        font-size: 1.8rem !important;
        text-align: center; 
        cursor: pointer;
        transition: all .1s ease;
        
        @include respond(phone){
            font-size: 2.3rem;
            height: 7rem;
        }
        // box-sizing: border-box;
        // display: block;
        // width: 100%;
        // cursor: pointer;
        // // opacity: .5;
        
        
        i{font-size: 2.8rem !important;}
    }
}



input[type="radio"] {
	opacity: 0;
	width: 0;
  height: 0;
  position: absolute;
}

input[type="radio"]:active ~ label {
  opacity: 1;
}

input[type="radio"]:checked ~ label {
    color: white;
    background-color: var(--color-primary);
    opacity: 1;

    i{color: white !important;}
	// border: 1px solid pink;
}