*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
    // scroll-behavior: smooth;
    // transition: all 2s ease;

    @include respond(phone-port){font-size: 48%;}
    
    @include respond(phone){ font-size: 38%; }
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    direction: rtl;
    background-color: var(--color-background);
    text-align: center;
}

a{text-decoration: none !important;}

*{
    &::-webkit-scrollbar-track{
        border-radius: 10px;
        position: absolute;
    }

    &::-webkit-scrollbar{
        width: 6px;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: #cccccc;
    }
}

button{
    cursor: pointer;
    outline: none !important;
    font-family: Vazir !important;
}

.outline-green{
    border: 1px solid var(--color-primary-light);
    border-radius: 3rem;
}

input{
    direction: rtl;
}

#order_msg{
    display: block;
    font-size: 25px;
    padding: 10px;
    color: white;
}


.red{color:var(--red)  !important;}
.blue{color:var(--blue)  !important;}
.green{color:var(--green)  !important;}
.yellow{color:var(--yellow)  !important;}
.white{color: white !important;}
.orange{color:var(--orange)  !important;}
.color-primary-dark{color: var(--color-primary) !important;}
.color-primary{color: var(--color-primary) !important;}
.color-primary-light{color: var(--color-primary-light) !important;}
.color-pink{color: var(--color-pink) !important;}

.border-orange{border-color: var(--orange)  !important;}
.border-primary{border-color: var(--color-primary) !important;}
.border-primary-light{border-color: var(--color-primary-light) !important;}
.border-pink{border-color: var(--color-pink) !important;}

.bg-white{background-color: white !important;}
.border-bottom-white{border-bottom:1px solid white !important;}