// @font-face {
//     font-family: 'irsans-bold';
//     src: url(../../assets/fonts/iransans-bold/iransansweb_bold.eot?) format('embedded-opentype'), url(../../assets/fonts/iransans-bold/iransansweb_bold.ttf) format('truetype'), url(../../assets/fonts/iransans-bold/iransansweb_bold.woff) format('woff'), url(../../assets/fonts/iransans-bold/iransansweb_bold.woff2) format('woff2');
// }
// @font-face {
//     font-family: 'irsans';
//     src: url(../../assets/fonts/iransans/iransansweb.eot?) format('embedded-opentype'), url(../../assets/fonts/iransans/iransansweb.ttf) format('truetype'), url(../../assets/fonts/iransans/iransansweb.woff) format('woff'), url(../../assets/fonts/iransans/iransansweb.woff2) format('woff2');
// }

// @font-face {
//     font-family: Vazir;
//     src: url('Vazir.eot');
//     src: url('Vazir.eot?#iefix') format('embedded-opentype'),
//     url('Vazir.woff') format('woff'),
//     url('Vazir.ttf') format('truetype');
//     font-weight: normal;           
// }

// body{
//     font-family: Vazir !important;
// }

// button,a{
//     font-family: Vazir !important;
// }

@import url(fontiran.css);

body {
	font-family: IRANSans !important;
	font-weight: 300;
	direction: rtl;
	// background-color: #E2E2E2;
	margin: 0;
}

h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: IRANSans !important;
}
h1 {
	font-weight: bold;
}

input{
    &::placeholder{
        font-family: Vazir !important;
    }
}

.active{
    color: var(--color-primary-light) !important;
}

.active-item{
    background-color: rgba($color: var(--color-primary-light), $alpha: .5);
    border: 1px solid var(--color-primary-light) !important;
}

.heading-primary{
    font-size: 2rem;
    color: #707070;
    // font-weight: bold;
    margin: 2rem 0;


    @include respond(phone){
        font-size: 3rem;
        color: var(--color-primary);
    }
}

.heading-secondary{
    font-size: 1.8rem;
    font-weight: 100;
    color: var(--color-pink);
    margin: 2rem 0;
    

    @include respond(phone){
        font-size: 3rem;
        color: var(--color-primary);
        margin-right: 3rem;
        margin-bottom: 0;
    }
}

.yellow{
    color: yellow !important;
}

.alert{
    font-size: 2rem;
    width: 60rem;
    margin: 1rem;

    @include respond(phone){font-size: 2.8rem;}
}

a.close{
    font-size: 3rem;

    @include respond(phone){font-size: 4.5rem;}
}